@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body{
    margin: 0 auto;
}

.logo{
    display: flex;
}

.fundo{
    width: 70px;
    height: 70px;
    position: relative;
    left: 20px;
}


.logo-texto{
    font-size: 23px;
    position: relative;
    left: 30px;
}

.navegador-lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1px;
}

.navegador-lista li{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(17, 17, 233, 0.925);
    border: 1px solid rgba(17, 17, 233, 0.925);
    color: white;
    border-radius: 15px 15px 0 0;
}

.navegador-lista li:hover{
    color: white;
    background-color: rgb(26, 26, 138);
    border: rgb(26, 26, 138);
}

.Ondevai{
    display: flex;
}

.img-form{
    background-image: url(imagem1.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.form-header{
    background-color: rgba(17, 17, 233, 0.925);
    border: 1px solid rgba(17, 17, 233, 0.925);
    border-radius: 8px;
    height: 18vh;
    margin: 8px;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.ida-e-volta{
    padding-left: 8px;
    padding-right: 8px
}

.Ondevai{
    padding-left: 8px;
    padding-right: 8px
}

.ida{
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.ida:hover{
    border: 1px solid blue;
    background-color: blue;
    color: white;
}

.entradaDeInformacao{
    height: 20px;
}

.botao{
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
}

.botao:hover{
    border: 1px solid rgb(255, 93, 34);
    background-color:rgb(255, 93, 34);
}

.form1{
    padding-top: 10px;
}

.promocoes{
    display: flex ;
}

.promo{
    display: flex;
    box-shadow: rgb(37 37 39 / 25%) 0.5rem 0.5rem 2rem 0px;
    margin: 15px;
}

.icone-promo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
    text-align: center;
}

.texto-promo{
    font-size: 20px;
}

.promocoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.promo{
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.texto-precos{
    padding-left: 10px;
}

